@model AwesomeNetwork.ViewModels.Account.UserViewModel; 

<link rel="stylesheet" href="~/css/mypage.css">
<div class="main-user-page">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="@Model.User.Image" alt="">
                        </a>
                        <h1>@Model.User.GetFullName()</h1>
                        <p>@Model.User.UserRole</p>
                    </div>
                <div class="col-md-12">
                    <div class="lined-block">
                    <label class="gray-text">Список друзів</label>
                    <div>
                        @if (Model.Friends.Count != 0)
                        {
                            @foreach (var user in @Model.Friends)
                            {
                                <div class="datadiv">
                                    <div class="mrgn center-align">
                                        <img src="@user.Image" class="ava" />
                                    </div>
                                    <div class="mrgn center-align">
                                        @user.GetFullName()
                                    </div>
                                   @* <div class="mrgn center-align">
                                        <form asp-controller="AccountManager" asp-action="Chat" asp-route-id="@user.Id" method="post">
                                            <button type="submit" class="btn btn-sm btn-primary min-width-but">
                                                Чат
                                            </button>
                                        </form>
                                    </div>*@
                                   @* <div class="mrgn center-align">
                                        <form asp-controller="AccountManager" asp-action="DeleteFriend" asp-route-id="@user.Id" method="post">
                                            <button type="submit" class="btn btn-sm btn-primary min-width-but">
                                                Відписатись
                                            </button>
                                        </form>
                                    </div>*@
                                </div>
                            }
                            @*<span>
                                <form asp-controller="AccountManager" asp-action="UserFriends" asp-route-Id="@Model.User.Id" method="post">
                                    <button type="submit" class="btn btn-sm btn-primary min-width-but">
                                        Всі друзі...
                                    </button>
                                </form>
                            </span>*@

                        }
                        else
                        {
                            <div>
                                <label>немає друзів.</label>
                            </div>
                        }
                    </div>
                </div>
                </div>
                </div>
            </div>
            <div class="profile-info col-md-9">
                <div class="panel lined-block">
                    <div class="panel-body bio-graph-info">
                        <h1>Інформація про користувача</h1>
                        <div class="row">
                            <div class="bio-row">
                                <label class="gray-text">Статус:</label>
                                <label> @Model.User.Status</label>
                            </div>
                            <div class="bio-row">
                                <label class="gray-text">Дата народження:</label>
                                <label> @Model.User.BirthDate.ToLongDateString()</label>
                            </div>
                            <div class="bio-row">
                                <label class="gray-text">Електронна пошта:</label>
                                <label> @Model.User.Email</label>
                            </div>
                            <div class="bio-row">
                                <label class="gray-text">Про себе:</label>
                                <label> @Model.User.About</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row lined-block">
                        @if (Model.Posts.Count > 0)
                        {
                            @foreach (var post in Model.Posts)
                            {
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="card h-100">
                                                <div class="card-header">
                                                    @post.CreationDate.ToLongDateString();
                                                            <a asp-controller="Posts" asp-action="details" asp-route-id="@post.Id" class="btn btn-primary">Читати</a>
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title card-post-text">@post.Title</h5>
                                                    <p class="card-text card-post-text">@post.Description</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <a asp-controller="AccountManager" asp-action="UserPosts" asp-route-id="@Model.User.Id" class="btn btn-primary">Всі пости користувача</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
